doctype html
html
    head
        link(rel='stylesheet', href='/css/style.css')
        title #{pageTitle}  |  Weather
    body
        include ../partials/navbar
        block content
        include ../partials/footer
        script(src='https://unpkg.com/ionicons@5.2.3/dist/ionicons.js')
