extends layouts/main.pug

block content
   section.hero.is-black.is-medium
    .hero-body
        .container
            h1.title
                | Home page
            h2.subtitle
                | Large subtitle
